*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h3, p, a{ font-family: arial; }

html, body{
    height: 100%;
}

.fl{ display: flex; }
.col{ flex-direction: column; }
.row-reverse{ flex-direction: row-reverse }
.wrap{ flex-wrap: wrap; }
.a-center{ align-items: center; }
.m-r-15{ margin-right: 15px; }

body{
    max-width: 1920px;
    margin: auto;
    background: #000642;
}

header{
    justify-content: space-around;
    padding: 5px;
    width: 100%;
    background: linear-gradient(-135deg, black, gray, black);
    box-shadow: 0px 10px 12px white;
}

header p{
    font-size: 58px;
    color: white;
}

nav a{
    padding: 5px 15px 5px 15px;
    background: gray;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    box-shadow: 4px 4px 3px black;
    transition: 0.4s;
}

nav .unpressed:hover{
    box-shadow: 8px 8px 3px black;
    background: white;
    color: black;
}

.pressed{
    background: darkgray;
    box-shadow: 0 0 0;
}

main{
    flex-grow: 1;
}

.main {
    width: 100%;
    padding: 15px;
}

.main p, .main h1, footer p { color: white; }

.b-r{ border-radius: 12px; }

.title {
    border: 1px solid white;
    margin-top: 42px;
    padding: 15px;
}

.title p {
    font-size: 20px;
}

.guestbook {
    margin-top: 42px;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.guestbook .inserter{
    border: 1px solid white;
    padding: 15px;
}

.m-t-15{
    margin-top: 15px;
}

.guestbook .messages{
    border: 1px solid white;
    margin-top: 15px;
    padding: 15px;
}

.guestbook form .input{
    background: none;
    border: 2px solid white;
    padding: 2px;
    color: white;
}

.guestbook .messages h3{ color: white; }

.guestbook .messages p{ margin-top: 15px; }

footer{
    padding: 5px;
    border: 1px solid white;
}